.footer {
    background-color: #0c0808; /* Dark black background */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .links {
    margin-top: 10px;
  }
  
  .links a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .links a:hover {
    text-decoration: underline;
  }